<h1>Welcome to Eventer</h1>

<h2>Login In</h2>

<%= form_for :session, url: session_path do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit 'Login' %>
<% end %>

<p>Not a user? <%= link_to 'Sign Up', new_user_path %></p>
  
