
<div class="show-users">
  <div class="enrolled-upcoming-events">
    
    <h2>Enrolled  Upcoming Events</h2>

    <div class="event-box">
      <% @enrolled_upcoming_events.each do |event| %>
        
        <div class="event-name">
          <%= link_to event.name, event %>
        </div>

        <div class="event-info">
          <p>
            <%= image_tag 'date.png' %>
            <%= event.date.strftime("%B %d, %Y") %>
          </p>
        </div>

      <% end %>
    </div>

  </div>

  <div class='events-details'>

    <div class="event-header">
      <% if @user == current_user %>
        <h2>Your Events</h2>
      <% else %>
        <h2><%= @user.name %>'s Events</h2>
      <% end %>
    </div>

    <div class="event-box">
      <div class="upcoming-events">
        <h3>Upcoming Events</h3>
        <% @upcoming_events.each do |event| %>

          <div class='event-name'>
            <%= link_to event.name, event %>
          </div>
          
        <% end %>
      </div>

      <div class="previous-events">
        <h3>Previous Events</h3>
        <% @previous_events.each do |event| %>

          <div class='event-name'>
            <%= link_to event.name, event %>
          </div>
          
        <% end %>
      </div>
    </div>

  </div>
</div>
