
<h2>Enrolled  Upcoming Events</h2>
<div class="enrolled_upcoming_events">
  <% @enrolled_upcoming_events.each do |event| %>
    <div class="event-shortcut">
      <%= link_to event.name, event %>
      <p><%= event.date.strftime("%B %d, %Y") %></p>
    </div>
  <% end %>
</div>

<%#                                                            %>

<h1>Created Events</h1>

<h3>
  <% events_length = @upcoming_events.count + @previous_events.count %>
  You have created <%= events_length %> <%= ' Event'.pluralize(events_length) %>
  <%= link_to 'Create new event', new_event_path %>
</h3>

<h2>Upcoming Events</h2>
<ul>
  <% @upcoming_events.each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>

<h2>Previous Events</h2>
<ul>
  <% @previous_events.each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>

