<div class="events">
  <% if @event.errors.any? %>
  <div class="alert alert-error">
    <ul>
    <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>  
  </div>
  <% end %>
  
  <div class="new-event-form">

    <h1 class="new-event-header">Create new event</h1>

    <%= form_for @event  do |f| %>
      <div>
        <%= f.text_field :name, placeholder: 'Enter event name', class: 'field' %>
      </div>

      <div>
        <%= f.text_field :address, placeholder: 'Enter event address', class: 'field' %>
      </div>

      <div>
        <%= f.date_field :date, class: 'field' %>
      </div>

      <div>
        <%= f.submit 'Add Event', class: 'submit' %>
      </div>
    <% end %>
  </div>
</div>