
<div class="show">
  <h1>Event information</h1>

  <div class="event-information">
    
    <div class="event-header">
      <h2 class="event-name">
        <%= @event.name %>
      </h2>
      <p class="event-description">
        <%= @event.description %>
      </p>
    </div>

    <div class="event-info">
      <p>
        <img src="/assets/address.png" alt="address-icon">
        <%= @event.address %>
      </p>
      
      <p>
        <img src="/assets/person.png" alt="person-icon">
        <%= link_to @event.owner.name, @event.owner %>
      </p>      
    </div>

    <p class="event-date">
      <img src="/assets/date.png" alt="date-icon">
      The event will start in <%= distance_of_time_in_words(@event.date, DateTime.now) %>
    </p>

  </div>

  <h2>List of Attendees</h2>

  <% unless @attendees.size.zero? %>
    <ol class="list">
      <% @attendees.each do |attendee| %>
        <li><%= capitalize(attendee.name) %></li>
      <% end %>
    </ol>
  <% else %>
    <p class="no-attendee">There are no attendees for <span><%= @event.name %></span> at this time.</p>
  <% end %>


  <div class="back-btn">
    <%= button_to 'Back to all events', events_path, method: :get %>
  </div>
</div>