<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if logged_in? %>
      <header>
        <div>
          <%= link_to 'Events', events_path %>
          <%= link_to 'Create Event', new_event_path %> 
        </div>
        
        <div>
          <%= link_to current_user.name, current_user %>
          <%= link_to 'Sign Out', session_path, method: :delete  %>
        </div>
      </header>
    <% end %>

    <% flash.each do |key,value| %>
      <p><%= value %></p>
    <% end %>

    <main class="<%= controller.controller_name %>">
      <%= yield %>
    </main>

    <footer>
      This is the footer
    </footer>
  
  </body>
</html>
