<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>EventsIO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" >
        <p><%= value %></p>
      </div>
    <% end %>

    <% if logged_in? %>
      <header>
        <div class='left'>
          <%= link_to 'Events', events_path %>
          <%= link_to 'Create Event', new_event_path %> 
        </div>
        
        <div class='right'>
          <%= link_to current_user.name, current_user %>
          <%= link_to 'Sign Out', session_path, method: :delete  %>
        </div>
      </header>
    <% end %>

    <main class="<%= controller.controller_name %>">
      <%= yield %>
    </main>

    <footer>
      &copy; Copyright 2019 EventsIO.com
    </footer>
  
  </body>
</html>
